# Data Cleaning and Preprocessing for Building Energy Usage Prediction

Note: Please run this notebook in google colab. All data are downloaded into google my drive and imported from my drive.

## Import Libraries

In [19]:
import numpy as np
import pandas as pd
import datetime
import random
import matplotlib as plt
from sklearn.impute import KNNImputer
from sklearn.model_selection import cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

## Load train and test data

In [20]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [21]:
# check the size of train and test sets
print("Number of train samples are", train.shape)
print("Number of test samples are", test.shape)

Number of train samples are (75757, 64)
Number of test samples are (9705, 63)

In [22]:
# initial look at the train data
train.head()

   Year_Factor State_Factor building_class  ... days_with_fog    site_eui  id
0            1      State_1     Commercial  ...           NaN  248.682615   0
1            1      State_1     Commercial  ...          12.0   26.500150   1
2            1      State_1     Commercial  ...          12.0   24.693619   2
3            1      State_1     Commercial  ...          12.0   48.406926   3
4            1      State_1     Commercial  ...           NaN    3.899395   4

[5 rows x 64 columns]

In [23]:
# drop the id column from train data
del train['id']

In [24]:
train.head(5)

   Year_Factor State_Factor  ... days_with_fog    site_eui
0            1      State_1  ...           NaN  248.682615
1            1      State_1  ...          12.0   26.500150
2            1      State_1  ...          12.0   24.693619
3            1      State_1  ...          12.0   48.406926
4            1      State_1  ...           NaN    3.899395

[5 rows x 63 columns]

In [25]:
# find the correlation among the features
train.corr(method = 'pearson')

                           Year_Factor  floor_area  ...  days_with_fog  site_eui
Year_Factor                   1.000000   -0.036363  ...       0.619227 -0.045179
floor_area                   -0.036363    1.000000  ...       0.014282  0.073967
year_built                    0.084143    0.100878  ...       0.084167  0.017162
energy_star_rating           -0.005052    0.034947  ...       0.019387 -0.511012
ELEVATION                     0.132855    0.097797  ...       0.495345  0.011798
january_min_temp              0.007913   -0.148467  ...      -0.035741 -0.179190
january_avg_temp             -0.099628   -0.137654  ...      -0.108595 -0.167982
january_max_temp             -0.291137   -0.104118  ...      -0.321699 -0.097070
february_min_temp            -0.391312   -0.106110  ...      -0.286155 -0.147348
february_avg_temp            -0.101799   -0.120068  ...      -0.173583 -0.154071
february_max_temp            -0.093735   -0.042102  ...      -0.189658 -0.106693
march_min_temp               -0.054079   -0.121068  ...      -0.118249 -0.134110
march_avg_temp                0.051545   -0.098905  ...       0.002582 -0.135303
march_max_temp                0.167406   -0.011865  ...      -0.051434 -0.064302
april_min_temp               -0.463176   -0.087472  ...      -0.305123 -0.111528
april_avg_temp               -0.164931   -0.100034  ...      -0.240298 -0.113008
april_max_temp               -0.212332   -0.030368  ...       0.006324 -0.078969
may_min_temp                 -0.274205   -0.057491  ...      -0.304523 -0.002043
may_avg_temp                 -0.196895    0.011626  ...      -0.201244  0.072271
may_max_temp                  0.114799    0.028982  ...       0.173179  0.031679
june_min_temp                -0.309140   -0.023443  ...      -0.567691  0.042291
june_avg_temp                -0.097698    0.056028  ...      -0.319783  0.122019
june_max_temp                -0.406461    0.026853  ...      -0.217606 -0.029233
july_min_temp                -0.103637   -0.009108  ...      -0.361878  0.108092
july_avg_temp                -0.190931    0.039562  ...      -0.445166  0.133856
july_max_temp                -0.408861    0.021832  ...      -0.559546  0.047884
august_min_temp              -0.072133   -0.007137  ...      -0.228437  0.091616
august_avg_temp               0.171693    0.038335  ...       0.076092  0.113786
august_max_temp               0.338786    0.023841  ...       0.243369  0.028359
september_min_temp            0.095091   -0.013697  ...      -0.071834  0.060203
september_avg_temp            0.180126    0.046048  ...       0.025408  0.108853
september_max_temp           -0.078937    0.055891  ...       0.043967  0.098326
october_min_temp             -0.097073   -0.102459  ...      -0.098832 -0.095334
october_avg_temp             -0.144199   -0.059559  ...      -0.266226 -0.040162
october_max_temp             -0.062649    0.020746  ...      -0.190875  0.021272
november_min_temp             0.148017   -0.112179  ...      -0.059500 -0.100349
november_avg_temp             0.360374   -0.071890  ...       0.109516 -0.069882
november_max_temp             0.355420    0.026904  ...       0.332120  0.012002
december_min_temp            -0.260890   -0.085844  ...      -0.290502 -0.058888
december_avg_temp            -0.119175   -0.059289  ...      -0.221824 -0.050328
december_max_temp            -0.323793    0.004669  ...      -0.289708  0.054068
cooling_degree_days           0.032302    0.045823  ...      -0.129825  0.125004
heating_degree_days           0.068750    0.130198  ...       0.213646  0.147861
precipitation_inches         -0.124418    0.062634  ...      -0.416928  0.113558
snowfall_inches               0.182135    0.092503  ...      -0.005607  0.157284
snowdepth_inches              0.087389    0.074091  ...      -0.057398  0.113371
avg_temp                     -0.058627   -0.111303  ...      -0.246672 -0.089201
days_below_30F                0.137436    0.136123  ...       0.137774  0.139811
days_below_20F                0.260270    0.135476  ...       0.339999  0.119492
days_below_10F                0.263467    0.138712  ...       0.424576  0.084296
days_below_0F                 0.209500    0.140324  ...       0.405602  0.060981
days_above_80F                0.185233    0.049897  ...       0.084892  0.086347
days_above_90F                0.054718    0.022583  ...       0.048981 -0.007980
days_above_100F              -0.043701   -0.031415  ...      -0.207379 -0.050029
days_above_110F              -0.013635   -0.009205  ...            NaN -0.014190
direction_max_wind_speed      0.231525   -0.000018  ...       0.330441  0.010217
direction_peak_wind_speed     0.214651   -0.003984  ...       0.330064  0.013589
max_wind_speed                0.233857   -0.000922  ...       0.353990  0.010639
days_with_fog                 0.619227    0.014282  ...       1.000000 -0.055388
site_eui                     -0.045179    0.073967  ...      -0.055388  1.000000

[60 rows x 60 columns]

In [26]:
# drop direction_peak_wind_speed, direction_max_wind_speed, days_with_fog, max_wind_speed from train data
del train['direction_max_wind_speed']
del train['direction_peak_wind_speed']
del train['days_with_fog']
del train['max_wind_speed']

In [27]:
# drop direction_peak_wind_speed, direction_max_wind_speed, days_with_fog, max_wind_speed from test data
del test['direction_max_wind_speed']
del test['direction_peak_wind_speed']
del test['days_with_fog']
del test['max_wind_speed']

In [28]:
# the list of the comments in the train data
train.columns

Index(['Year_Factor', 'State_Factor', 'building_class', 'facility_type',
       'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION',
       'january_min_temp', 'january_avg_temp', 'january_max_temp',
       'february_min_temp', 'february_avg_temp', 'february_max_temp',
       'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp',
       'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp',
       'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp',
       'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp',
       'august_avg_temp', 'august_max_temp', 'september_min_temp',
       'september_avg_temp', 'september_max_temp', 'october_min_temp',
       'october_avg_temp', 'october_max_temp', 'november_min_temp',
       'november_avg_temp', 'november_max_temp', 'december_min_temp',
       'december_avg_temp', 'december_max_temp', 'cooling_degree_days',
       'heating_degree_days', 'precipitation_inches', 'snowfall_inches',
       'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F',
       'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F',
       'days_above_100F', 'days_above_110F', 'site_eui'],
      dtype='object')

In [29]:
train.head()

   Year_Factor State_Factor  ... days_above_110F    site_eui
0            1      State_1  ...               0  248.682615
1            1      State_1  ...               0   26.500150
2            1      State_1  ...               0   24.693619
3            1      State_1  ...               0   48.406926
4            1      State_1  ...               0    3.899395

[5 rows x 59 columns]

In [30]:
# drop the rows in the train data that have missing values in the 'year_built' feature
train.dropna(subset = ['year_built'], inplace = True, axis = 0)

In [31]:
# check the number of rows in the test data
test.shape

(9705, 59)

## Imputation of missing values using KNNImputer

In [32]:
# create a subset of the train data that only contains columns with missing values that need to be imputed
new_train= train[['year_built','ELEVATION','floor_area','energy_star_rating']]
# # create a subset of the test data that only contains columns with missing values that need to be imputed
new_test = test[['year_built','ELEVATION','floor_area','energy_star_rating']]
# instantiate KNNImputer for train and test data
knnimpute = KNNImputer(n_neighbors=5)
knnimpute_test = KNNImputer(n_neighbors=5)
# impute the missing values in the newly created subsets of train and test data and assign the results 
# to new dataframes
energy_imputed_train = pd.DataFrame(knnimpute.fit_transform(new_train), columns = new_train.columns, index=new_train.index)
energy_imputed_test = pd.DataFrame(knnimpute_test.fit_transform(new_test), columns = new_test.columns, index=new_test.index)

In [33]:
# check if there are any missing values in the train subset
energy_imputed_train['energy_star_rating'].isna().sum()

0

In [34]:
# check if there are any missing values in the test subset
energy_imputed_test['energy_star_rating'].isna().sum()

0

In [35]:
# rename the 'energy_star_rating' to 'energy_star_rating_imputed' in the new subsets
energy_imputed_train.rename(columns = {'energy_star_rating': 'energy_star_rating_imputed'},inplace = True)
energy_imputed_test.rename(columns = {'energy_star_rating': 'energy_star_rating_imputed'},inplace = True)

In [36]:
energy_imputed_test.head(5)

   year_built  ELEVATION  floor_area  energy_star_rating_imputed
0      1994.0        2.4     28484.0                        37.0
1      1961.0       45.7     21906.0                        55.0
2      1950.0       59.1     16138.0                         1.0
3      1971.0       35.4     97422.0                        34.0
4      1942.0        1.8     61242.0                        35.0

In [37]:
energy_imputed_train.head(5)

   year_built  ELEVATION  floor_area  energy_star_rating_imputed
0      1942.0        2.4     61242.0                        11.0
1      1955.0        1.8    274000.0                        45.0
2      1951.0        1.8    280025.0                        97.0
3      1980.0        1.8     55325.0                        46.0
4      1985.0        2.4     66000.0                       100.0

In [38]:
# remove the the previous energy_star_rating column  with missing values from train and test data and add the 'energy_star_rating_imputed' instead
train = train.drop(["energy_star_rating"], axis=1)
test = test.drop(["energy_star_rating"], axis=1)
energy_imputed_2_train = energy_imputed_train['energy_star_rating_imputed']
data2_train = pd.concat([train, energy_imputed_2_train], axis=1)
energy_imputed_2_test = energy_imputed_test['energy_star_rating_imputed']
data2_test = pd.concat([test, energy_imputed_2_test], axis=1)

In [39]:
# save the new imputed train and test data to csv files
data2_train.to_csv('data2_train.csv')
data2_test.to_csv('data2_test.csv')

In [40]:
# import the new train and test data 
train = pd.read_csv("data2_train.csv",index_col=0)
test = pd.read_csv("data2_test.csv",index_col=0)

In [42]:
# check the shape of the train and test data
print("the shape of the train data is: " , train.shape)
print("the shape of the test data is: " , test.shape)

the shape of the train data is:  (73920, 59)
the shape of the test data is:  (9705, 59)

In [43]:
train.head(5)

   Year_Factor State_Factor  ...    site_eui energy_star_rating_imputed
0            1      State_1  ...  248.682615                       11.0
1            1      State_1  ...   26.500150                       45.0
2            1      State_1  ...   24.693619                       97.0
3            1      State_1  ...   48.406926                       46.0
4            1      State_1  ...    3.899395                      100.0

[5 rows x 59 columns]

In [44]:
test.head()

   Year_Factor State_Factor  ...     id energy_star_rating_imputed
0            7      State_1  ...  75757                       37.0
1            7      State_1  ...  75758                       55.0
2            7      State_1  ...  75759                        1.0
3            7      State_1  ...  75760                       34.0
4            7      State_1  ...  75761                       35.0

[5 rows x 59 columns]

In [45]:
# change the Year_Factor column into an object type
train.Year_Factor = train.Year_Factor.astype('object')
test.Year_Factor = test.Year_Factor.astype('object')

In [46]:
# remove the outliers in the target feature in the train data
q99 = train.site_eui.quantile(q=[0.99])[0.99]

train = train[train.site_eui<q99]

In [47]:
# now the train data has 73180 rows down from 73920
train.shape

(73180, 59)

## One Hot Encoding

In [48]:
y = train["site_eui"]
X = train.drop(["site_eui"], axis=1)

In [49]:
# create a list of categorical columns that are going to be one hot encoded
categorical_cols = ['building_class','facility_type','State_Factor','Year_Factor']

In [50]:
# one-hot encoding of training data
X_cat = X[categorical_cols]
ohe = OneHotEncoder(drop = 'first',handle_unknown="ignore")
X_onehot = ohe.fit_transform(X_cat)
X_onehot = pd.DataFrame(X_onehot.toarray(), columns=ohe.get_feature_names_out(),index = X_cat.index)

X = pd.concat([X.drop(categorical_cols, axis=1), X_onehot], axis=1)

In [51]:
# one-hot encoding of testing data
X_cat = test[categorical_cols]
test_data_onehot = ohe.transform(X_cat)
test_data_onehot = pd.DataFrame(
    test_data_onehot.toarray(), columns=ohe.get_feature_names_out(), index = X_cat.index
)
test = pd.concat(
    [test.drop(categorical_cols, axis=1), test_data_onehot], axis=1
)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_encoders.py:174: UserWarning: Found unknown categories in columns [3] during transform. These unknown categories will be encoded as all zeros
  UserWarning,

In [52]:
# set aside the 'id' column for using it later in the solution file
test_id = test['id']

In [53]:
# set the 'id' to be the index column of test data
test = test.set_index('id')

In [54]:
test.head()

       floor_area  year_built  ...  Year_Factor_5  Year_Factor_6
id                             ...
75757     28484.0      1994.0  ...            0.0            0.0
75758     21906.0      1961.0  ...            0.0            0.0
75759     16138.0      1950.0  ...            0.0            0.0
75760     97422.0      1971.0  ...            0.0            0.0
75761     61242.0      1942.0  ...            0.0            0.0

[5 rows x 125 columns]

## Impute missing values in the 'Year_built' column in test data

In [56]:
imp_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_freq.fit(test)
imp_freq.transform(test)

array([[2.8484e+04, 1.9940e+03, 2.4000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.1906e+04, 1.9610e+03, 4.5700e+01, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.6138e+04, 1.9500e+03, 5.9100e+01, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [4.2393e+04, 2.0140e+03, 8.1200e+02, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.5368e+04, 1.9920e+03, 8.1200e+02, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [4.5640e+04, 1.9940e+03, 2.6500e+01, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [58]:
test = pd.DataFrame(imp_freq.transform(test), columns = test.columns, index=test.index)

In [59]:
test.shape

(9705, 125)

In [60]:
test.head()

       floor_area  year_built  ...  Year_Factor_5  Year_Factor_6
id                             ...
75757     28484.0      1994.0  ...            0.0            0.0
75758     21906.0      1961.0  ...            0.0            0.0
75759     16138.0      1950.0  ...            0.0            0.0
75760     97422.0      1971.0  ...            0.0            0.0
75761     61242.0      1942.0  ...            0.0            0.0

[5 rows x 125 columns]

## Scale the train and test data

In [79]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
test_scaled = scaler.transform(test)

In [81]:
print('type of X_scaled: ',type(X_scaled))
print('type of test_scaled: ',type(test_scaled))

type of X_scaled:  <class 'numpy.ndarray'>
type of test_scaled:  <class 'numpy.ndarray'>

In [94]:
# since the type of the X_scaled and test_scaled is numpy.ndarray,
# we convert them to dataframes and save them to new csv files in order to use them in Modeling notebook
X_columns = list(X.columns)
test_columns = list(test.columns)
X_scaled_df = pd.DataFrame(X_scaled, columns = X_columns)
test_scaled_df = pd.DataFrame(test_scaled, columns = test_columns)
X_scaled_df.to_csv('X_scaled.csv',index = False)
test_scaled_df.to_csv('test_scaled.csv', index = False)

# also save the target column of train data to csv file
y.to_csv('y.csv',index = False)